<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="34644014-2206-49b2-818d-7f95294a5d32" name="TestSuite B" authProfile="SAMPLE_AUTH" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="34644014-2206-49b2-818d-7f95294a5d32fileName">TestSuite-B</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="f1504dff-ed51-4b31-8d40-f141ffc2dedd">
      <con:authProfile>SAMPLE_AUTH</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
