<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8e05268e-35b0-4021-860b-df22e10ca731" name="TestSuite 1" authProfile="SAMPLE_AUTH" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="8e05268e-35b0-4021-860b-df22e10ca731fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
