<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dd78b5d0-ae10-4d10-b265-30804339e913" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="dd78b5d0-ae10-4d10-b265-30804339e913fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
