<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0ad1b82a-a4b4-42b2-b6e7-b280c3bced83" name="API Appointment TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [API Appointment]</con:description>
  <con:settings>
    <con:setting id="0ad1b82a-a4b4-42b2-b6e7-b280c3bced83fileName">API-Appointment-TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
